body {
  font-family: 'Rubik', sans-serif;
  background-image: url(./utils/Photo/pattern.jpg);
  background-repeat: none;
  background-size: cover;  
}

body {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.categories{
  position: relative;
  right: 115px;
  top: 105px;
  font-size: 20px;
  margin-bottom: 0px;
  /* color: #0275d8 */

}
/* 
.nav-tabs>title:hover{
  color: white;
} */

#logout {
  font-size: 20px;
  margin-left: 40px;
  border-radius: 25px;
}

#create {
  font-size: 20px;
  margin-left: 40px;
  border-radius: 25px;
}